.contador_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_num {
    margin-bottom: 20px;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 1px solid black;
    width: 85px;
    height: 85px;
    margin: 0 auto;
}
p:hover {
    background-color: black;
    color: white;
}